
  
    <div class="container"> 
      <h2>Activities</h2>
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xsm-6">
            <div class="w3-card-4" style="width:100%">
              <img src="assets/ig5.jpg" alt="Norway" style="width:100%">
              <hr>
              <div class="w3-container w3-center">
                <p>Global Activities
                  EUMIND is a platform for networking between schools in India and Europe. EUMIND schools run internet based eJournal projects and organize international study visits of teachers, headmasters, principals and exchanges of students.</p>
              </div>
              <a>read more</a> 
              </div>
              </div>
                <div class="col-md-4 col-sm-6 col-xsm-6">
                  <div class="w3-card-4" style="width:100%">
                    <img src="assets/ig5.jpg" alt="Norway" style="width:100%">
                    <hr>
                    <div class="w3-container w3-center">
                      <p>Club Activities
                        Club Activities The club activities are the most liked events and popular amongst students. At PPS, students are members of the Language club, Newspaper club, Science and Social Science club, Art & Performing Arts and Sports club.</p>
                    </div>
                    <a>read more</a> 
                           </div>
                </div>
          <div class="col-md-4 col-sm-6 col-xsm-6">
            <div class="w3-card-4" style="width:100%">
              <img src="assets/ig5.jpg" alt="Norway" style="width:100%">
              <hr>
              <div class="w3-container w3-center">
                <p>Robotics
                  For a 21st century student, hands-on science learning is a necessity and not an option. We need to equip the next generation to keep up with the demands of our ever-changing world. That's why a problem-solving and innovative mindset is essential</p>
                   
                </div>
                <a>read more</a>    
          </div>
          </div>
          </div>
    </div>
    <br><br>
